$imagePath: '../images/city-wallpaper.jpg';
$colorAccent: rgba(236,82,33,1);
$colorAccentHover: rgba(236,82,33,0.8);
$colorBase: #444;
$font: 'Open Sans', Arial, sans-serif;
$menuHeight: 100px;
$removeSize: 10px;